button {
    width: 30px;
    height: 30px;
}

.button-grid {
    display: flex;
    flex-direction: column;
}

.numbers {
    display: flex;
    justify-content: center;
}

.operators {
    display: flex;
    justify-content: center;
}

.display {
    margin-top: 20px;
    height: 100px;
    width: 50vh;
    border: 4px solid black;
    /* background: red; */
}

.current-value
 {
    font-size: 25px;
}